@{ 
  Layout = "_Layout"; 
}

<h1>Recipe Boxes</h1>
<h3>@Html.ActionLink("VIEW ALL RECIPES", "Index", "Recipes")</h3>
<h3>@Html.ActionLink("VIEW ALL TAGS", "Index", "Tags")</h3>
<h3>@Html.ActionLink("VIEW RANDOM RECIPE", "RandomRecipe")</h3>

<p>@Html.ActionLink("Create an account", "Index", "Account")</p>